Index: <%= @view_name.capitalize %>
<table border="0">
	<tr>
		<% @html_tags.each do |key, value| %>
			<th><%= key.capitalize %></th>
		<% end %>

	</tr>
	<%% <%= "@#{@view_name}s.each do |#{@view_name}|" %> %>
	<tr>
	<% @html_tags.each do |key, value| %>

			<td><%%= <%= "#{@view_name}.#{key}" %> %></td>
	<% end %>
	</tr>
	<%% end %>
</table>