Index: <%= @view_name.capitalize %>
<table border="0">
	<tr>
		<% @html_tags.each do |key, value| %>
			<th><%= key.capitalize %></th>
		<% end %>

	</tr>
	<tr>
		<% @html_tags.each do |key, value| %>
			<td><%= value %></td>
		<% end %>
	</tr>
</table>